doctype html
head
  meta(charset='utf-8')
  title codersX
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  
h1 Books Manager
hr
table(class="table table-bordered")
  tr
    th Title
    th Description
    th Update
    th Delete
  each book in books
    tr
      td= book.title
      td= book.description
      td
        a(href='/books/update/'+book.id) Click
      td
        a(href='/books/delete/'+book.id) Click
hr
h4 Add new book
form(action="/books/create", method="POST")
  label title:&nbsp;
  input(type="text", name="title")
  span &nbsp;
  label description:&nbsp;
  input(type="text", name="description")
  span &nbsp;
  button Create
      
  