doctype html
head
  meta(charset='utf-8')
  title codersX
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  
h1 Bài 9 - Controller (MVC)
a(href='/books') Books
br
a(href='/users') Users
br
a(href='/transactions') Transactions